<a href="https://colab.research.google.com/github/caiodavic/Processamento-de-Linguagem-Natural-2022.1/blob/main/Named_Entity_Recognition_utilizando_Bidirectional_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Named Entity Recognition utilizando Bidirectional LSTM
- Reconhecimento de Entidade Nomeada (NER), é uma subtarefa de extração de informações que busca localizar e classificar entidades nomeadas mencionadas em texto não estruturado em categorias predefinidas, como por exemplo: nomes de pessoas, organizações, locais, expressões de tempo, quantidades, valores monetários, entre outros.
- O dataset que vamos utilizar está disponível nesse [link do kaggle](https://www.kaggle.com/datasets/abhinavwalia95/entity-annotated-corpus?select=ner_dataset.csv)

In [ ]:
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/gdrive/MyDrive/2022.1/PLN/ner_dataset.csv',encoding = 'unicode_escape')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

### Mapeamento palavras e tags para indexes
- Precisamos mapear cada palavra para cada índice do vocabulário.
- Também precisamos mapear cada tag para um índice

In [ ]:
def get_dict_map(data,token_or_tag):
    tok2idx = {}
    idx2tok = {}

    if token_or_tag == 'token':
        vocab = list(set(data['Word'].to_list()))
        idx2tok = {idx+1: tok for idx, tok in enumerate(vocab)}
        tok2idx = {tok: idx+1 for idx, tok in enumerate(vocab)}
    else:
        vocab = list(set(data['Tag'].to_list()))    
        idx2tok = {idx: tok for idx, tok in enumerate(vocab)}
        tok2idx = {tok: idx for idx, tok in enumerate(vocab)}

    return tok2idx,idx2tok

In [ ]:
token2idx, idx2token = get_dict_map(data, 'token')
tag2idx, idx2tag = get_dict_map(data, 'tag')

In [ ]:
token2idx

{'blueprints': 1,
 'Top-ranked': 2,
 '163': 3,
 'renounce': 4,
 'denuded': 5,
 'Cirque': 6,
 'pilot-less': 7,
 'ricocheted': 8,
 'joyful': 9,
 'WTO': 10,
 'rider': 11,
 'Cual': 12,
 'rebate': 13,
 'Disease': 14,
 'Moroccan': 15,
 'Satan': 16,
 'recently-halted': 17,
 'Quake': 18,
 'Alamodome': 19,
 'Hoffman': 20,
 '325-member': 21,
 'offshore': 22,
 '11-year': 23,
 '8,599': 24,
 'comment': 25,
 'sub-contractor': 26,
 'Chrysanthemum': 27,
 'processed': 28,
 'sufficient': 29,
 'Troedsson': 30,
 'slowing': 31,
 'Hatim': 32,
 'three': 33,
 'birth': 34,
 'unifying': 35,
 'extensive': 36,
 'Retirement': 37,
 'judo': 38,
 'Let': 39,
 'reopens': 40,
 'ratio': 41,
 'cacao': 42,
 '\x97': 43,
 'locations': 44,
 'confiscate': 45,
 'snow': 46,
 'inject': 47,
 'favourite': 48,
 'bridged': 49,
 'MILOSEVIC': 50,
 "'ll": 51,
 'Laith': 52,
 'criminal': 53,
 'most-successful': 54,
 'Cumple': 55,
 'windy': 56,
 '0.7': 57,
 'veils': 58,
 'mediation': 59,
 'stabilizing': 60,
 'Gillespie': 61,
 'rocketed': 62,
 'face-to-face': 63,
 'Department': 64,
 'al-Rubaei': 65,
 'Benjamin': 66,
 'Maarib': 67,
 'Qamdo': 68,
 'highlights': 69,
 'Latin': 70,
 'Tamil-majority': 71,
 'Undersecretary-General': 72,
 'revisit': 73,
 'Blizzards': 74,
 'Stella': 75,
 'belonging': 76,
 'Cocos': 77,
 'backgrounds': 78,
 'July-August': 79,
 'stewardship': 80,
 'window': 81,
 'Juste': 82,
 'reached': 83,
 'defections': 84,
 'collaborating': 85,
 'tested': 86,
 'drug-resistant': 87,
 'Jean': 88,
 'retirees': 89,
 'Post-election': 90,
 'requests': 91,
 'reining': 92,
 'descending': 93,
 'Alaska': 94,
 'unfolded': 95,
 'Cite': 96,
 'permitting': 97,
 'choice': 98,
 'able-bodied': 99,
 'Odde': 100,
 'Bangladeshis': 101,
 'retained': 102,
 'Marcell': 103,
 'documentary': 104,
 'Simatovic': 105,
 'long-awaited': 106,
 'Momammad': 107,
 'disease-causing': 108,
 'Jawed': 109,
 'beachside': 110,
 'derive': 111,
 'account': 112,
 'Eight': 113,
 'thuggish': 114,
 'honest': 115,
 'laying': 116,
 'four-at-a-time': 117,
 'begging': 118,
 'Hamas-dominated': 119,
 'prop': 120,
 'balance': 121,
 'medium-term': 122,
 'string': 123,
 'arming': 124,
 'Orders': 125,
 'off-shore': 126,
 'Atilla': 127,
 'hemorrhaging': 128,
 'Duran': 129,
 'aspects': 130,
 'Kuduna': 131,
 'healed': 132,
 'A.W.B': 133,
 'element': 134,
 'bypassing': 135,
 'circumscribed': 136,
 'Gajdosova': 137,
 '1857': 138,
 'navy': 139,
 'Sunni': 140,
 'Seoul': 141,
 'museum': 142,
 'clay': 143,
 'Mark': 144,
 'co-sponsoring': 145,
 'vents': 146,
 'barbed': 147,
 'Johnston': 148,
 'colony': 149,
 'legend': 150,
 'defectors': 151,
 'democratic': 152,
 'Bakara': 153,
 'residential': 154,
 'bike': 155,
 'equaling': 156,
 'nuclear-related': 157,
 'Lavrov': 158,
 'Hasyim': 159,
 'Mai': 160,
 'forgery': 161,
 'Fried': 162,
 'Guttenberg': 163,
 'inductee': 164,
 'campus': 165,
 '10-member': 166,
 'envy': 167,
 'arising': 168,
 'classify': 169,
 'state-orchestrated': 170,
 'wastewater': 171,
 'animosity': 172,
 'Itahari': 173,
 '187': 174,
 'North': 175,
 'Smigun': 176,
 'pairs': 177,
 'mid-to-late': 178,
 'election-related': 179,
 'pill': 180,
 'Kamuzu': 181,
 'Riot': 182,
 'pullback': 183,
 'daring': 184,
 'tub': 185,
 'Meridian': 186,
 'flourishing': 187,
 'JoongAng': 188,
 'gallery': 189,
 'nonrecurring': 190,
 'flies': 191,
 'Iceland': 192,
 'trunk': 193,
 'Nioka': 194,
 'stroll': 195,
 'flowing': 196,
 'allies': 197,
 'hive': 198,
 'leverage': 199,
 'Howlwadaag': 200,
 'underlined': 201,
 'value': 202,
 'Shilpa': 203,
 'Bonaire': 204,
 '250,000-member': 205,
 'Maumoon': 206,
 'Opposing': 207,
 'honeycomb': 208,
 'Rowsch': 209,
 'disagreements': 210,
 'Kites': 211,
 'hectare': 212,
 'Kompas': 213,
 'episodes': 214,
 'screened': 215,
 'Anand': 216,
 'Oaxaca': 217,
 'market': 218,
 'Anura': 219,
 'announcement': 220,
 'Salad': 221,
 'Festus': 222,
 'federations': 223,
 'tsunami-producing': 224,
 'juvenile': 225,
 'parental': 226,
 'transitioning': 227,
 'Convergence': 228,
 '325': 229,
 'Soviet-sponsored': 230,
 '1783': 231,
 'Muslim-dominated': 232,
 'Hassan': 233,
 'Bratislava': 234,
 'last-minute': 235,
 'vaunting': 236,
 'majority-Muslim': 237,
 'Oxfam': 238,
 'Broadcaster': 239,
 'dual-island': 240,
 'Mandarin': 241,
 '3,500': 242,
 'Lebanese-Syrian': 243,
 'stricken': 244,
 'Logistics': 245,
 'Diplomacy': 246,
 'unfastened': 247,
 'Krygyz': 248,
 '247': 249,
 'officials': 250,
 'strip': 251,
 'forklift': 252,
 '1974': 253,
 'Brent': 254,
 'collaborate': 255,
 'Thamilselvan': 256,
 'animist': 257,
 'hardest': 258,
 'leukemia': 259,
 'Asghar': 260,
 'below-normal': 261,
 'rekindled': 262,
 'Considerable': 263,
 'totaled': 264,
 'relocated': 265,
 'targeting': 266,
 'brayed': 267,
 'Wemple': 268,
 'simulated': 269,
 'lung': 270,
 'wet': 271,
 'professionals': 272,
 'alive': 273,
 'Thief': 274,
 'Rongai': 275,
 'al-Rai': 276,
 'Odinga': 277,
 'Local': 278,
 'mortgage': 279,
 'Somaliland': 280,
 'Practices': 281,
 'Rahim': 282,
 'unsubstantiated': 283,
 'U.S.-mediated': 284,
 'miniaturized': 285,
 'Marinellis': 286,
 'Covenant': 287,
 'oil-giant': 288,
 '1866': 289,
 '31st': 290,
 '3.2': 291,
 'Maharastra': 292,
 'Superstar': 293,
 'Chopan': 294,
 'demolition': 295,
 'Colonized': 296,
 'lists': 297,
 '384': 298,
 'Fisheries': 299,
 'communist-ruled': 300,
 'intoxicating': 301,
 'Bongo': 302,
 'Erben': 303,
 'on-scene': 304,
 'quarterback': 305,
 'observes': 306,
 'flooded': 307,
 'Morsink': 308,
 'Jakob': 309,
 'bureaucratic': 310,
 'shantytowns': 311,
 'al-Sammarei': 312,
 'Beckham': 313,
 'Hussain': 314,
 'Elvis': 315,
 'tactical': 316,
 'singers': 317,
 'Vitoria': 318,
 'constrain': 319,
 'deprived': 320,
 'bathed': 321,
 'language': 322,
 'campaigning': 323,
 'bribe': 324,
 'confidence': 325,
 'uncontained': 326,
 'Gingl': 327,
 'abrasive': 328,
 'exploited': 329,
 'disobey': 330,
 'quench': 331,
 'agony': 332,
 'Venezuelan-owned': 333,
 'appears': 334,
 '677': 335,
 'al-Otari': 336,
 'rockers': 337,
 'stars': 338,
 'Employers': 339,
 'anti-India': 340,
 'tariffs': 341,
 'Couso': 342,
 'coaltion': 343,
 'Jeremic': 344,
 'Yankees': 345,
 'Bourgas': 346,
 'oil': 347,
 'secular': 348,
 'human-to-human': 349,
 'Buenos': 350,
 'bamboo': 351,
 'practices': 352,
 'Liaison': 353,
 'dioxide': 354,
 'Rate': 355,
 'Younus': 356,
 'Noaman': 357,
 'Forty-one': 358,
 '1,07,000': 359,
 'finger': 360,
 'plan': 361,
 'ticket': 362,
 'celebrate': 363,
 'speculated': 364,
 'Berenson': 365,
 'Bombs': 366,
 'Schlegel': 367,
 'Laboratory': 368,
 'Meet': 369,
 'Warden': 370,
 'Hurricanes': 371,
 'Woods': 372,
 'five-seat': 373,
 'adverse': 374,
 'merit': 375,
 'Gomoa': 376,
 'defeating': 377,
 'expatriate': 378,
 'Naked': 379,
 'legislated': 380,
 'Scotia': 381,
 'Hashemi': 382,
 'VSV-30': 383,
 'N.V.': 384,
 'Diabetes': 385,
 'VanAllen': 386,
 'promoter': 387,
 'heap': 388,
 'Sohail': 389,
 'inductees': 390,
 'handsome': 391,
 'speeds': 392,
 'Crnojevic': 393,
 'Mashonaland': 394,
 'honoring': 395,
 'venturing': 396,
 'discoveries': 397,
 'Melissa': 398,
 'firings': 399,
 '93': 400,
 'S-300': 401,
 'Majmaah': 402,
 'Wikipedia': 403,
 'GUELLEH': 404,
 'Three-time': 405,
 'Delgado': 406,
 'accept': 407,
 'two-degrees': 408,
 'acid': 409,
 'birds': 410,
 'preliminary': 411,
 'grinning': 412,
 'fit': 413,
 'defusing': 414,
 'reaffirm': 415,
 'Asadollah': 416,
 'Warner': 417,
 'disturbingly': 418,
 'evict': 419,
 'undergraduate': 420,
 'Mughal': 421,
 'Markets': 422,
 'raised': 423,
 'Bikaner': 424,
 'conditioned': 425,
 'Mazar-i-Sharif': 426,
 'closer': 427,
 'emaciated': 428,
 'another': 429,
 'defer': 430,
 'UNDP': 431,
 'defensible': 432,
 'Khazaee': 433,
 'return': 434,
 'midnight': 435,
 'reclaim': 436,
 'Throughout': 437,
 'Indy': 438,
 'Tuzla': 439,
 '11-style': 440,
 'Chiang': 441,
 '2,000-years-old': 442,
 'attending': 443,
 'Iran-Afghanistan': 444,
 'binding': 445,
 'Jersey': 446,
 'DJ': 447,
 'Gardasil': 448,
 'Palestine': 449,
 'Portman': 450,
 'Lado': 451,
 'trespassing': 452,
 'bank': 453,
 'harvesting': 454,
 'surges': 455,
 'Tom': 456,
 'Kheir': 457,
 'mimics': 458,
 'fly': 459,
 'trailblazing': 460,
 'Soprano': 461,
 'diabetes': 462,
 'Stockholm': 463,
 'good': 464,
 'section': 465,
 'combine': 466,
 'wall': 467,
 'HIV-positive': 468,
 'Mercy': 469,
 '05-Jul': 470,
 'promoted': 471,
 'Kosovo': 472,
 'derailing': 473,
 'light-water': 474,
 'Togo': 475,
 '15-year-old': 476,
 'acquisition-minded': 477,
 'worship': 478,
 'surplus': 479,
 'maltreatment': 480,
 'busload': 481,
 'flashpoint': 482,
 'Security': 483,
 'storm-related': 484,
 '106': 485,
 'broader': 486,
 'Secret': 487,
 'Trondheim': 488,
 'Jew': 489,
 'Commons': 490,
 'Icelandic': 491,
 'depreciate': 492,
 'bay': 493,
 'Indeed': 494,
 'mediocre': 495,
 'prosecutorial': 496,
 'Piazza': 497,
 'Ry': 498,
 'Jurors': 499,
 '1971': 500,
 'Zoba': 501,
 'Ceylon': 502,
 'Spring': 503,
 'consumes': 504,
 'preservation': 505,
 'Thirteen': 506,
 'hearts': 507,
 'al-Watan': 508,
 'Liberation': 509,
 '630': 510,
 '45,213': 511,
 'bestseller': 512,
 'Foundation': 513,
 'extorting': 514,
 'tribes': 515,
 'Arla': 516,
 'respecting': 517,
 'Javed': 518,
 'Samie': 519,
 'six-thousand': 520,
 'freeze': 521,
 'monument': 522,
 'non-Jews': 523,
 'differences': 524,
 'pediatricians': 525,
 'ideology': 526,
 'Sino-Tibetan': 527,
 'Paris-based': 528,
 'alienating': 529,
 'Rep.': 530,
 'updates': 531,
 'Si': 532,
 'hemisphere': 533,
 'Globovision': 534,
 'Philosophy': 535,
 '94.13': 536,
 'eighties': 537,
 'Maysan': 538,
 'Kelly': 539,
 'plantations': 540,
 'augment': 541,
 'Roses': 542,
 'Chaco': 543,
 'BULL': 544,
 'Catholics': 545,
 '8,206': 546,
 '255': 547,
 'Lahore': 548,
 '54.15': 549,
 'signs': 550,
 'Otalora': 551,
 'academy': 552,
 'environment-friendly': 553,
 'Saudi-owned': 554,
 'royalties': 555,
 'fought': 556,
 'Seabees': 557,
 'toughest': 558,
 'debates': 559,
 'toil': 560,
 '6,000-meter': 561,
 'sustains': 562,
 'crazy': 563,
 'indisputably': 564,
 'Exit': 565,
 'KITES': 566,
 '103': 567,
 'knocked': 568,
 'Halloween': 569,
 'insufficient': 570,
 'possibly': 571,
 'orphans': 572,
 'divulging': 573,
 '16.7': 574,
 'video-conferencing': 575,
 'Stamford': 576,
 'chill': 577,
 'occasional': 578,
 '324': 579,
 'Lapi': 580,
 'conspired': 581,
 'rose-tinted': 582,
 'Him': 583,
 'fundamentalist': 584,
 'third-party': 585,
 'Norpro': 586,
 'lone': 587,
 'pointing': 588,
 'Hulya': 589,
 'self-employment': 590,
 'emancipation': 591,
 'defenders': 592,
 'cast': 593,
 '0-6': 594,
 'attracts': 595,
 'rustling': 596,
 'Dmitrij': 597,
 'unhurt': 598,
 'Bakili': 599,
 'sentiments': 600,
 'Warming': 601,
 'liner': 602,
 'neighbor': 603,
 '275': 604,
 'sunflower': 605,
 'symptoms': 606,
 'Khanna': 607,
 'authorized': 608,
 '1-to-1': 609,
 'Parasol': 610,
 'Marty': 611,
 'Thanh': 612,
 '4,000': 613,
 'skier': 614,
 'youths': 615,
 'inhabit': 616,
 'regrettably': 617,
 'creatively': 618,
 'pleasant': 619,
 'Ganiyev': 620,
 'Wisconsin': 621,
 'Ahlu': 622,
 'Bel-Air': 623,
 'DUC': 624,
 'hot': 625,
 'Joint': 626,
 'purge': 627,
 '10-years-ago': 628,
 'pleaded': 629,
 'revolver': 630,
 'Al-Rishawi': 631,
 'XDR-TB': 632,
 'Tishrin': 633,
 'motion': 634,
 'currency': 635,
 'Miguel': 636,
 '2009': 637,
 'according': 638,
 'appropriated': 639,
 'Preference': 640,
 'formalize': 641,
 'Wire': 642,
 'chief-of-staff': 643,
 'powersharing': 644,
 'drugged': 645,
 'spate': 646,
 'Karnataka': 647,
 'Offshore': 648,
 'transplants': 649,
 'tiebreaker': 650,
 'chased': 651,
 'dribbled': 652,
 'wash': 653,
 'Kush': 654,
 '238': 655,
 'Tavis': 656,
 'Untied': 657,
 'registered': 658,
 'Hansen': 659,
 'bust': 660,
 'Safwat': 661,
 'Timothy': 662,
 'skullcaps': 663,
 'baby': 664,
 'Muttur': 665,
 'hamstrung': 666,
 'survey': 667,
 '1.329': 668,
 'compared': 669,
 'Honshu': 670,
 'Cavic': 671,
 '400-meter': 672,
 'gateway': 673,
 'Program': 674,
 'messages': 675,
 'Displaced': 676,
 'disillusionment': 677,
 'Najjar': 678,
 'reinsurance': 679,
 'muscular': 680,
 'Terje': 681,
 'Stefan': 682,
 'Framework': 683,
 'ethnically': 684,
 'Katyusha': 685,
 'exporting': 686,
 'Bin-Laden': 687,
 'victimize': 688,
 'combat-related': 689,
 'never': 690,
 'consitutional': 691,
 'Kiteswere': 692,
 'Kesbir': 693,
 'self-declared': 694,
 'captive': 695,
 'Tariq': 696,
 'Halliburton': 697,
 'mobsters': 698,
 'Lien': 699,
 'Hajan': 700,
 'green': 701,
 'purposes': 702,
 'Chemistry': 703,
 'al-Janabi': 704,
 'Race': 705,
 'stunning': 706,
 'Nest': 707,
 'Demonstrators': 708,
 'spy': 709,
 'straightened': 710,
 'Krasnoyarsk': 711,
 'Laila': 712,
 'diplomatically': 713,
 'desk': 714,
 'drawdown': 715,
 'Sherry': 716,
 'Chimango': 717,
 'Gujarat': 718,
 'disburses': 719,
 'charged': 720,
 'meter-long': 721,
 'Danube': 722,
 'exchanging': 723,
 'Malawai': 724,
 'Demirel': 725,
 'Roll': 726,
 '1865': 727,
 '9.6': 728,
 'atrophy': 729,
 'disclose': 730,
 'restraints': 731,
 'rockets': 732,
 'dinners': 733,
 'slice': 734,
 'scar': 735,
 'Monitor': 736,
 'Bayfront': 737,
 'counter-terror': 738,
 '38.7': 739,
 'JPMorgan': 740,
 'zidovudine': 741,
 'Pakistani-controlled': 742,
 'politic': 743,
 'moment': 744,
 'amongst': 745,
 'Conn.': 746,
 'caused': 747,
 'filter': 748,
 'Casamance': 749,
 '323': 750,
 'months': 751,
 'Tong': 752,
 'Mix': 753,
 'mumps': 754,
 'seamen': 755,
 'Whispers': 756,
 'Yakutsk': 757,
 'racing': 758,
 'routine': 759,
 'endorses': 760,
 'assumed': 761,
 '84.9': 762,
 'dove': 763,
 'postwar': 764,
 'Trily': 765,
 'Togolese': 766,
 '7': 767,
 'renovations': 768,
 'Wanted': 769,
 'Park': 770,
 'Bouterse': 771,
 'Martinez': 772,
 '68th': 773,
 'beacons': 774,
 'Petersen': 775,
 'spacewalks': 776,
 'Chinhoyi': 777,
 'Thabo': 778,
 'aneurysm': 779,
 'presenter': 780,
 '12': 781,
 'Bigalow': 782,
 'Parnaz': 783,
 'OAS': 784,
 'Msika': 785,
 'Billionaire': 786,
 'grasped': 787,
 'explore': 788,
 'unimaginable': 789,
 'eight-year-old': 790,
 'tattoo': 791,
 '3,25,000': 792,
 'Ezzedin': 793,
 'import': 794,
 'selected': 795,
 'starting': 796,
 'Faizullah': 797,
 'under': 798,
 'bras': 799,
 'displeased': 800,
 'cool': 801,
 'value-added': 802,
 'Suleimaniya': 803,
 'Atta-Mills': 804,
 'Iosif': 805,
 'Rashtriya': 806,
 'decades-long': 807,
 'Ganguly': 808,
 '16-goal': 809,
 'declares': 810,
 'Imphal': 811,
 'Khedira': 812,
 'Kovalchuk': 813,
 'reappointing': 814,
 'Sonia': 815,
 'Vidoje': 816,
 'Aruba': 817,
 'bedrooms': 818,
 'deception': 819,
 'really': 820,
 'Amezcua': 821,
 'Roth': 822,
 'al-Maliky': 823,
 'Jalalabad': 824,
 'Ross': 825,
 'Aristolbulo': 826,
 'satisfy': 827,
 'Kaletra': 828,
 'growing': 829,
 'contends': 830,
 'patient-specific': 831,
 'Blige': 832,
 'husband': 833,
 'collectivization': 834,
 'drop-in': 835,
 'mayors': 836,
 'agricultural': 837,
 'Al-Shara': 838,
 'pro-Shiite': 839,
 'amending': 840,
 'Annunciation': 841,
 'cartographers': 842,
 'commonly': 843,
 'disturbing': 844,
 'doubting': 845,
 'Eve': 846,
 'CONDE': 847,
 'idled': 848,
 'Tendai': 849,
 'super-giant': 850,
 'gathering': 851,
 'solidarity': 852,
 'Tula': 853,
 'uncalculated': 854,
 '5,300': 855,
 'deport': 856,
 'second-wicket': 857,
 'mindful': 858,
 'perfectly': 859,
 'insiders': 860,
 'Savin': 861,
 'Titled': 862,
 'splendid': 863,
 'Ambassadors': 864,
 'Nasiriyah': 865,
 'Ishaq': 866,
 'phone': 867,
 'reside': 868,
 'flight': 869,
 'Abkhazia': 870,
 'displaying': 871,
 'Try': 872,
 'Kadkhodai': 873,
 'hardcourts': 874,
 'rain-fed': 875,
 'homicide': 876,
 'Azamiyah': 877,
 'genetically': 878,
 'Deposed': 879,
 'co-chair': 880,
 'anti-U.S.': 881,
 'lawless': 882,
 'Nicolas': 883,
 'partnerships': 884,
 'mid-1980s': 885,
 'Adam': 886,
 'Judaism': 887,
 'marry': 888,
 '145.85': 889,
 'Visiting': 890,
 'target': 891,
 'screenings': 892,
 'reorganization': 893,
 'Binh': 894,
 'Ramstein': 895,
 'demonizing': 896,
 'Rood': 897,
 'deter': 898,
 'Hamdania': 899,
 'A-H1N1': 900,
 '5.4': 901,
 'Djokovic': 902,
 'inundated': 903,
 'terminals': 904,
 'entangle': 905,
 '57.25': 906,
 'swoon': 907,
 'barrels': 908,
 'downplay': 909,
 'Iles': 910,
 'structur': 911,
 'Homayun': 912,
 'certificates': 913,
 'Israel-Palestinian': 914,
 'anti-insurgent': 915,
 'Roma': 916,
 '1,700-year-old': 917,
 'routed': 918,
 'Anders': 919,
 'Chiapas': 920,
 'large-caliber': 921,
 'Bird': 922,
 'cancer': 923,
 'auditors': 924,
 'raising': 925,
 'Payenda': 926,
 'Bell': 927,
 'tourists': 928,
 'Peterson': 929,
 'hailing': 930,
 'robberies': 931,
 'Maywand': 932,
 'Clark': 933,
 'Mejia': 934,
 'chassis': 935,
 'Per': 936,
 'Ting': 937,
 'charges': 938,
 'Tempers': 939,
 'nomads': 940,
 'weaken': 941,
 'equalized': 942,
 'suitors': 943,
 'cropped': 944,
 '70-member': 945,
 'showing': 946,
 'venom': 947,
 'diverting': 948,
 'close': 949,
 'suspension': 950,
 '0.35': 951,
 'briefings': 952,
 'quarreled': 953,
 'rain': 954,
 'Bertone': 955,
 'MENA': 956,
 'Internet': 957,
 'Helmund': 958,
 'maneuver': 959,
 'Cykla': 960,
 'Beethoven': 961,
 'retrieved': 962,
 'journeyed': 963,
 'clinch': 964,
 'Specific': 965,
 'Daioyu': 966,
 'Lendu': 967,
 'know': 968,
 'Malatya': 969,
 'jeep': 970,
 'strewn': 971,
 'simulating': 972,
 'throw': 973,
 'melody': 974,
 'decided': 975,
 'beaten': 976,
 'Rignot': 977,
 'taping': 978,
 'royal': 979,
 'three-megaton': 980,
 '1718': 981,
 'Azimi': 982,
 'assassinating': 983,
 'cries': 984,
 'W.': 985,
 'epidemic': 986,
 'savors': 987,
 'frustrated': 988,
 'accommodating': 989,
 'Intoning': 990,
 'compliant': 991,
 'Kochi': 992,
 'fascists': 993,
 'capsized': 994,
 'Kospi': 995,
 'computerized': 996,
 'abolish': 997,
 'intercepting': 998,
 'Konarak': 999,
 'Heineman': 1000,
 ...}

In [ ]:
idx2tag

{0: 'I-nat',
 1: 'I-per',
 2: 'I-org',
 3: 'I-tim',
 4: 'B-nat',
 5: 'B-geo',
 6: 'O',
 7: 'B-eve',
 8: 'I-geo',
 9: 'I-eve',
 10: 'I-gpe',
 11: 'B-tim',
 12: 'B-art',
 13: 'I-art',
 14: 'B-gpe',
 15: 'B-org',
 16: 'B-per'}

- Associando cada índice a cada palavra e tag no dataset

In [ ]:
data['Word_idx'] = data['Word'].map(token2idx)
data['Tag_idx'] = data['Tag'].map(tag2idx)
data.sample(5)

       Sentence #     Word  POS    Tag  Word_idx  Tag_idx
4016          NaN   Simple  NNP  I-art     34681       13
373286        NaN        .    .      O      1218        6
110696        NaN       on   IN      O     32891        6
823095        NaN     dump   VB      O     34408        6
440660        NaN  address   NN      O     16644        6

In [ ]:
data_fillna = data.fillna(method='ffill', axis = 0)
data_fillna

              Sentence #           Word  POS Tag  Word_idx  Tag_idx
0            Sentence: 1      Thousands  NNS   O     13667        6
1            Sentence: 1             of   IN   O     27611        6
2            Sentence: 1  demonstrators  NNS   O     14240        6
3            Sentence: 1           have  VBP   O     15187        6
4            Sentence: 1        marched  VBN   O     15295        6
...                  ...            ...  ...  ..       ...      ...
1048570  Sentence: 47959           they  PRP   O     12933        6
1048571  Sentence: 47959      responded  VBD   O     11340        6
1048572  Sentence: 47959             to   TO   O     13782        6
1048573  Sentence: 47959            the   DT   O     24921        6
1048574  Sentence: 47959         attack   NN   O     28293        6

[1048575 rows x 6 columns]

- Vamos agrupar os tokens por sentença e unir em listas.

In [ ]:
data_group = data_fillna.groupby(['Sentence #'], as_index=False)['Word','POS','Tag','Word_idx','Tag_idx'].agg(lambda x: list(x))
data_group.head()

<ipython-input-10-d15ce953158e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_group = data_fillna.groupby(['Sentence #'], as_index=False)['Word','POS','Tag','Word_idx','Tag_idx'].agg(lambda x: list(x))

,Sentence #,Word,POS,Tag,Word_idx,Tag_idx
0,Sentence: 1,"[Thousands, of, demonstrators, have, marched, ...","[NNS, IN, NNS, VBP, VBN, IN, NNP, TO, VB, DT, ...","[O, O, O, O, O, O, B-geo, O, O, O, O, O, B-geo...","[13667, 27611, 14240, 15187, 15295, 6021, 4792...","[6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 5, 6, 6, ..."
1,Sentence: 10,"[Iranian, officials, say, they, expect, to, ge...","[JJ, NNS, VBP, PRP, VBP, TO, VB, NN, TO, JJ, J...","[B-gpe, O, O, O, O, O, O, O, O, O, O, O, O, O,...","[20629, 250, 13628, 12933, 10932, 13782, 12488...","[14, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,..."
2,Sentence: 100,"[Helicopter, gunships, Saturday, pounded, mili...","[NN, NNS, NNP, VBD, JJ, NNS, IN, DT, NNP, JJ, ...","[O, O, B-tim, O, O, O, O, O, B-geo, O, O, O, O...","[20917, 19776, 34984, 2291, 10793, 32170, 2852...","[6, 6, 11, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 15..."
3,Sentence: 1000,"[They, left, after, a, tense, hour-long, stand...","[PRP, VBD, IN, DT, NN, JJ, NN, IN, NN, NNS, .]","[O, O, O, O, O, O, O, O, O, O, O]","[27967, 24892, 22868, 22900, 19802, 23581, 274...","[6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6]"
4,Sentence: 10000,"[U.N., relief, coordinator, Jan, Egeland, said...","[NNP, NN, NN, NNP, NNP, VBD, NNP, ,, NNP, ,, J...","[B-geo, O, O, B-per, I-per, O, B-tim, O, B-geo...","[14346, 22544, 32489, 9452, 22616, 26840, 1967...","[5, 6, 6, 16, 1, 6, 11, 6, 5, 6, 14, 6, 14, 6,..."

### Preparação dos dados
- Precisamos transformar as sentenças em sequencias com os índices que temos em token2idx e fazer o padding para todas as sentenças terem o mesmo tamanho. 
- Também vamos transformar a tag de cada palavra em um vetor categorical.

In [ ]:
n_token = len(token2idx)

tokens = data_group.Word_idx.tolist()
maxlen = max([len(s) for s in tokens])
pad_tokens = pad_sequences(tokens, maxlen=maxlen, dtype='int32',padding='post', value= 0)

In [ ]:
n_tags = len(tag2idx)

tags = data_group.Tag_idx.tolist()
pad_tags = pad_sequences(tags, maxlen=maxlen, dtype='int32',padding='post', value= tag2idx["O"])
pad_tags_categorical = [to_categorical(i,num_classes=n_tags) for i in pad_tags]

In [ ]:
train_tokens, test_tokens, train_tags, test_tags = train_test_split(pad_tokens, pad_tags_categorical, test_size=0.3, train_size=0.7, random_state=2022)

In [ ]:
print(
        'train_tokens length:', len(train_tokens),
        '\ntrain_tags length:', len(train_tags),
        '\ntest_tokens length:', len(test_tokens),
        '\ntest_tags:', len(test_tags),
    )

train_tokens length: 33571
train_tags length: 33571
test_tokens length: 14388
test_tags: 14388

### Construção do modelo
- Vamos construir uma rede neural recorrente com 4 camadas
  - Primeira camada é a camada de Embedding que já conhecemos anteriormente, ela receberá sequências de tamanho 104 e para cada token ela irá construir um vetor de dimensão 64.
  - A segunda camada é uma LSTM bidirecional, é uma camada recorrente. Ela obtém a saída da camada anterior e devido ao parâmetro ```merge_mode='concat'``` vai ser passada a informação dos dois fluxos da BiLSTM para a próxima camada. Nessa camada temos um dropout de 0.2.
  - A terceira camada é uma LSTM, com dropout de 0.5. 
  - Essa camada é reponsável por pegar a saída da camada LSTM com dimensão (104,256) e gera uma saída com dimensão 104 e cada item dessa dimensão é um vetor de 17 itens.

In [ ]:
import numpy as np
import tensorflow
from tensorflow.keras import Sequential, Model, Input
from tensorflow.keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional
from tensorflow.keras.utils import plot_model

In [ ]:
input_dim = n_token+1
output_dim = 64
input_length = maxlen

In [ ]:
model = Sequential()
model.add(Embedding(input_dim = input_dim,output_dim=output_dim,input_length=input_length))
model.add(Bidirectional(LSTM(units=output_dim, return_sequences=True,dropout=0.2,recurrent_dropout=0.2),merge_mode='concat'))
model.add(LSTM(units=output_dim, return_sequences=True, dropout=0.5, recurrent_dropout=0.5))
model.add(TimeDistributed(Dense(n_tags, activation="relu")))

WARNING:tensorflow:Layer lstm_8 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
WARNING:tensorflow:Layer lstm_8 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
WARNING:tensorflow:Layer lstm_8 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
WARNING:tensorflow:Layer lstm_9 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

In [ ]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics='accuracy')
model.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_4 (Embedding)     (None, 104, 64)           2251456

 bidirectional_4 (Bidirectio  (None, 104, 128)         66048
 nal)

 lstm_9 (LSTM)               (None, 104, 64)           49408

 time_distributed_4 (TimeDis  (None, 104, 17)          1105
 tributed)

=================================================================
Total params: 2,368,017
Trainable params: 2,368,017
Non-trainable params: 0
_________________________________________________________________

In [ ]:
hist = model.fit(train_tokens,np.array(train_tags),batch_size=1024 ,epochs=5, validation_split = 0.2)

Epoch 1/5
27/27 [==============================] - 44s 1s/step - loss: 0.9847 - accuracy: 0.9301 - val_loss: 0.3115 - val_accuracy: 0.9679
Epoch 2/5
27/27 [==============================] - 37s 1s/step - loss: 0.2790 - accuracy: 0.9678 - val_loss: 0.2223 - val_accuracy: 0.9679
Epoch 3/5
27/27 [==============================] - 36s 1s/step - loss: 0.2585 - accuracy: 0.9678 - val_loss: 0.1990 - val_accuracy: 0.9679
Epoch 4/5
27/27 [==============================] - 38s 1s/step - loss: 0.2098 - accuracy: 0.9678 - val_loss: 0.1874 - val_accuracy: 0.9679
Epoch 5/5
27/27 [==============================] - 36s 1s/step - loss: 0.1886 - accuracy: 0.9678 - val_loss: 0.1742 - val_accuracy: 0.9679

In [ ]:
predicts = model.predict(test_tokens)

450/450 [==============================] - 38s 83ms/step

In [ ]:
def get_sentence_in_text(idx2token,sentence,idx2tag,predict):
    sentence_complete = []
    for i,j in zip(sentence,predict):
        if i != 0:  
            word = idx2token[i]
            tag = idx2tag[np.argmax(j)]
            sentence_complete.append((word,tag))
    
    return ' '.join(i[0] if i[1] == 'O' else f'{i[0]}[{i[1]}]' for i in sentence_complete)

In [ ]:
sentence_complete = get_sentence_in_text(idx2token,test_tokens[60],idx2tag,test_tags[60])
sentence_complete

'Former Peruvian[B-gpe] President[B-per] Alberto[I-per] Fujimori[I-per] has announced he will run for president again in the upcoming election .'